{
  "openapi": "3.1.0",
  "info": {
    "title": "Perplexity AI API",
    "description": "Perplexity AI API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.perplexity.ai",
      "description": "Perplexity AI API"
    }
  ],
  "paths": {
    "/v1/sonar": {
      "post": {
        "summary": "Create Chat Completion",
        "description": "Generate a chat completion response for the given conversation.",
        "operationId": "chat_completions_chat_completions_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiChatCompletionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompletionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "summary": "Search the Web",
        "operationId": "search_search_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "description": "Search the web and retrieve relevant web page contents."
      }
    },
    "/v1/embeddings": {
      "post": {
        "summary": "Create Embeddings",
        "description": "Generate embeddings for a list of texts. Use these embeddings for semantic search, clustering, and other machine learning applications.",
        "operationId": "embeddings_v1_embeddings_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contextualizedembeddings": {
      "post": {
        "summary": "Create Contextualized Embeddings",
        "description": "Generate contextualized embeddings for document chunks. Chunks from the same document share context awareness, improving retrieval quality for document-based applications.",
        "operationId": "contextualized_embeddings_v1_contextualizedembeddings_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContextualizedEmbeddingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContextualizedEmbeddingsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/async/sonar/{api_request}": {
      "get": {
        "summary": "Get Async Chat Completion",
        "description": "Retrieve the response for a given asynchronous chat completion request.",
        "operationId": "get_async_chat_completion_response_async_chat_completions__api_request__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "api_request",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Api Request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncApiChatCompletionsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/async/sonar": {
      "get": {
        "summary": "List Async Chat Completions",
        "description": "Retrieve a list of all asynchronous chat completion requests for a given user.",
        "operationId": "list_async_chat_completions_async_chat_completions_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAsyncApiChatCompletionsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Async Chat Completion",
        "description": "Submit an asynchronous chat completion request.",
        "operationId": "create_async_chat_completions_async_chat_completions_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncApiChatCompletionsRequest"
              },
              "example": {
                "request": {
                  "model": "sonar-deep-research",
                  "messages": [
                    {
                      "role": "<string>",
                      "content": "<string>"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncApiChatCompletionsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agent": {
      "post": {
        "description": "Generate a response for the provided input with optional web search and reasoning.",
        "operationId": "createAgent",
        "summary": "Create Agent Response",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStreamEvent"
                }
              }
            },
            "description": "Successful response. Content type depends on `stream` parameter:\n- `stream: false` (default): `application/json` with Response\n- `stream: true`: `text/event-stream` with SSE events\n"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorInfo"
                    }
                  }
                }
              }
            },
            "description": "Invalid request. Includes an unresolvable `previous_response_id`: the referenced response does not exist, belongs to a different account, has failed, or is still running."
          }
        }
      }
    },
    "/v1/agent/{id}": {
      "get": {
        "description": "Retrieve a response created earlier. Returns a JSON snapshot of the response. Only responses created with `store` omitted or `true` can be retrieved; `store: false` responses return a 404.",
        "operationId": "retrieveAgent",
        "summary": "Retrieve Agent Response",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Response id (`resp_<...>`)"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                }
              }
            },
            "description": "JSON snapshot of the response."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorInfo"
                    }
                  }
                }
              }
            },
            "description": "Unknown id, or the response belongs to a different account, or the response was created with `store: false`."
          }
        }
      }
    },
    "/v1/agent/{id}/files": {
      "get": {
        "summary": "List Agent Response Files",
        "description": "List the files a response produced in the sandbox and delivered with the `share_file` tool. Scoped to the authenticated account, which only ever sees its own files. File content is not returned inline; download it with the file content endpoint.",
        "operationId": "listAgentFiles",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Response id (`resp_<...>`)"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseFileList"
                }
              }
            },
            "description": "The list of files delivered from the response's sandbox."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorInfo"
                    }
                  }
                }
              }
            },
            "description": "Unknown id, or the response belongs to a different account."
          }
        }
      }
    },
    "/v1/agent/{id}/files/{file_id}/content": {
      "get": {
        "summary": "Download Agent Response File",
        "description": "Download the raw bytes of a file the response delivered with the `share_file` tool. The `file_id` comes from the file list endpoint and is distinct from the response `id`. The response streams raw bytes, not JSON, with a `Content-Type` matching the file and a `Content-Disposition: attachment` header carrying the original filename.",
        "operationId": "downloadAgentFile",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Response id (`resp_<...>`)"
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "File id from the file list endpoint"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "The raw file bytes."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorInfo"
                    }
                  }
                }
              }
            },
            "description": "Unknown response id or file id, or the response belongs to a different account."
          }
        }
      }
    },
    "/v1/agent/{id}/cancel": {
      "post": {
        "summary": "Cancel Agent Response",
        "description": "Requests cancellation of response `{id}`. Acts on durable state, so it works for background runs that outlive the client connection. Cancellation is asynchronous: a `200` acknowledges the request (`status: cancelling`) and the run stops shortly after - poll `GET /v1/agent/{id}` for its terminal status. Cancelling a run that is already terminal returns `400`. Ownership is enforced server side; a cross-tenant or unknown id surfaces as `404`.",
        "operationId": "cancelAgentResponse",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Response id (`resp_<...>`)"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "response_id",
                    "status"
                  ],
                  "properties": {
                    "response_id": {
                      "type": "string",
                      "description": "The response id (`resp_<...>`)."
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "cancelling"
                      ],
                      "description": "Always `cancelling` - the cancel was accepted and the run stops asynchronously. An already-terminal run returns `400` instead, so no terminal status appears here."
                    }
                  }
                }
              }
            },
            "description": "The cancel request was accepted; the run is being cancelled."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorInfo"
                    }
                  }
                }
              }
            },
            "description": "The response is already terminal, or the request is invalid."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ErrorInfo"
                    }
                  }
                }
              }
            },
            "description": "Unknown id, or the response belongs to a different account."
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "summary": "List Models",
        "description": "List the models available for the Agent API. Returns model identifiers that can be used with the `POST /v1/agent` endpoint. The response follows the OpenAI List Models format for compatibility with third-party tools.",
        "operationId": "listModels",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response with the list of available models.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListModelsResponse"
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "id": "anthropic/claude-opus-5",
                      "object": "model",
                      "created": 0,
                      "owned_by": "anthropic"
                    },
                    {
                      "id": "anthropic/claude-opus-5-5",
                      "object": "model",
                      "created": 0,
                      "owned_by": "anthropic"
                    },
                    {
                      "id": "anthropic/claude-opus-4-8",
                      "object": "model",
                      "created": 0,
                      "owned_by": "anthropic"
                    },
                    {
                      "id": "anthropic/claude-sonnet-5",
                      "object": "model",
                      "created": 0,
                      "owned_by": "anthropic"
                    },
                    {
                      "id": "anthropic/claude-fable-5",
                      "object": "model",
                      "created": 0,
                      "owned_by": "anthropic"
                    },
                    {
                      "id": "anthropic/claude-sonnet-4-6",
                      "object": "model",
                      "created": 0,
                      "owned_by": "anthropic"
                    },
                    {
                      "id": "openai/gpt-6-sol",
                      "object": "model",
                      "created": 0,
                      "owned_by": "openai"
                    },
                    {
                      "id": "openai/gpt-6-luna",
                      "object": "model",
                      "created": 0,
                      "owned_by": "openai"
                    },
                    {
                      "id": "openai/gpt-5.6-sol",
                      "object": "model",
                      "created": 0,
                      "owned_by": "openai"
                    },
                    {
                      "id": "openai/gpt-5.6-terra",
                      "object": "model",
                      "created": 0,
                      "owned_by": "openai"
                    },
                    {
                      "id": "openai/gpt-5.6-luna",
                      "object": "model",
                      "created": 0,
                      "owned_by": "openai"
                    },
                    {
                      "id": "openai/gpt-5.5",
                      "object": "model",
                      "created": 0,
                      "owned_by": "openai"
                    },
                    {
                      "id": "google/gemini-3.1-flash-lite",
                      "object": "model",
                      "created": 0,
                      "owned_by": "google"
                    },
                    {
                      "id": "google/gemini-3.5-flash",
                      "object": "model",
                      "created": 0,
                      "owned_by": "google"
                    },
                    {
                      "id": "google/gemini-3.5-flash-lite",
                      "object": "model",
                      "created": 0,
                      "owned_by": "google"
                    },
                    {
                      "id": "google/gemini-3.6-flash",
                      "object": "model",
                      "created": 0,
                      "owned_by": "google"
                    },
                    {
                      "id": "google/gemini-3.7-flash",
                      "object": "model",
                      "created": 0,
                      "owned_by": "google"
                    },
                    {
                      "id": "google/gemini-3.8-flash",
                      "object": "model",
                      "created": 0,
                      "owned_by": "google"
                    },
                    {
                      "id": "xai/grok-4.7",
                      "object": "model",
                      "created": 0,
                      "owned_by": "xai"
                    },
                    {
                      "id": "xai/grok-4.6",
                      "object": "model",
                      "created": 0,
                      "owned_by": "xai"
                    },
                    {
                      "id": "xai/grok-4.5",
                      "object": "model",
                      "created": 0,
                      "owned_by": "xai"
                    },
                    {
                      "id": "xai/grok-4.3",
                      "object": "model",
                      "created": 0,
                      "owned_by": "xai"
                    },
                    {
                      "id": "xai/grok-4.20-reasoning",
                      "object": "model",
                      "created": 0,
                      "owned_by": "xai"
                    },
                    {
                      "id": "xai/grok-4.20-non-reasoning",
                      "object": "model",
                      "created": 0,
                      "owned_by": "xai"
                    },
                    {
                      "id": "xai/grok-4.20-multi-agent",
                      "object": "model",
                      "created": 0,
                      "owned_by": "xai"
                    },
                    {
                      "id": "perplexity/glm-5.3",
                      "object": "model",
                      "created": 0,
                      "owned_by": "perplexity"
                    },
                    {
                      "id": "perplexity/glm-5.3-flash",
                      "object": "model",
                      "created": 0,
                      "owned_by": "perplexity"
                    },
                    {
                      "id": "perplexity/kimi-k3",
                      "object": "model",
                      "created": 0,
                      "owned_by": "moonshotai"
                    },
                    {
                      "id": "perplexity/kimi-k2.7-code",
                      "object": "model",
                      "created": 0,
                      "owned_by": "perplexity"
                    },
                    {
                      "id": "perplexity/sonar",
                      "object": "model",
                      "created": 0,
                      "owned_by": "perplexity"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/computer/usage": {
      "get": {
        "summary": "Usage Analytics",
        "description": "Returns your organization's Perplexity usage analytics as a bucketed time series for a single dataset. Requires an organization analytics API key, generated by an org admin from Settings → Organization → Computer in the Perplexity web app. Only complete UTC grid buckets are returned: start_time snaps down to its bucket, and the in-progress bucket is never included. Datasets differ in what they count: credits for credit_usage, queries for query_volume, distinct active members for daily_active_users, and thread counts for the rest. Buckets of daily_active_users are not additive — a member active on several days is counted once per day, so summing them is not the window's active-member count.",
        "operationId": "getComputerUsageAnalytics",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "dataset",
            "in": "query",
            "required": true,
            "description": "The dataset to query. query_volume and daily_active_users are daily organization-level datasets: they reject bucket_width=1h and user_email.",
            "schema": {
              "type": "string",
              "enum": [
                "credit_usage",
                "connectors",
                "artifacts",
                "skills",
                "spaces",
                "workflows",
                "task_durations",
                "query_volume",
                "daily_active_users"
              ]
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "description": "Window start in unix seconds (UTC), inclusive. Snapped down to the bucket grid, so the first bucket can include usage from before this time.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "description": "Window end in unix seconds (UTC), exclusive. Defaults to now; future values are capped at now. The window may span at most 90 days.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "bucket_width",
            "in": "query",
            "required": false,
            "description": "Bucket size. Buckets align to the UTC grid. Not accepted as 1h for query_volume or daily_active_users, which are stored at day grain.",
            "schema": {
              "type": "string",
              "enum": [
                "1d",
                "1h"
              ],
              "default": "1d"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Buckets per page. 1d: default 7, max 31. 1h: default 24, max 168.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor from a previous response's next_page. Valid only with the same query parameters it was issued for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_email",
            "in": "query",
            "required": false,
            "description": "Restrict results to a single member of your organization. Emails that don't match a current member return a generic 400. Not available for query_volume or daily_active_users, which are aggregated per organization; use the v2 endpoint for per-member query volume.",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bucketed usage for the requested window. Buckets without data carry count 0; the analytics store syncs periodically, so a zero in a recent bucket can mean the data hasn't synced yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputerUsageResponse"
                },
                "example": {
                  "categories": [
                    "Model",
                    "Credit Source"
                  ],
                  "data": [
                    {
                      "start_time": 1746057600,
                      "end_time": 1746144000,
                      "count": 350,
                      "by_categories": {
                        "Model": [
                          {
                            "category": "claude-opus-4-8",
                            "count": 210
                          },
                          {
                            "category": "claude-sonnet-4-6",
                            "count": 120
                          }
                        ],
                        "Credit Source": [
                          {
                            "category": "paid",
                            "count": 250
                          },
                          {
                            "category": "promo",
                            "count": 80
                          }
                        ]
                      }
                    }
                  ],
                  "has_more": false,
                  "next_page": null
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters (type: bad_request) or semantically invalid request (type: invalid_request) — e.g. start_time after end_time, a window over 90 days, a misused pagination cursor, or a user_email that doesn't match a member of the organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                },
                "example": {
                  "error": {
                    "message": "start_time must be before end_time.",
                    "type": "invalid_request",
                    "code": 400
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (type: unauthorized).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "The Analytics API is not enabled for this organization (type: feature_disabled).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (type: request_rate_limit_exceeded). Limits apply per organization across all of its keys.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/analytics/computer/usage": {
      "get": {
        "summary": "Usage Analytics per Member",
        "description": "Returns your organization's Perplexity usage broken down per member, as daily buckets. Each day lists one row per member with usage that day, keyed by email. credit_usage carries the same Model and Credit Source breakdown as v1; query_volume carries Feature, Project and Comet. Uses the same organization analytics API key as v1. Only complete UTC days are returned; the in-progress day is never included.",
        "operationId": "getComputerUsageAnalyticsV2",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "dataset",
            "in": "query",
            "required": true,
            "description": "The dataset to query. query_volume at this grain carries Feature, Project and Comet breakdowns, but not Model or Model Family.",
            "schema": {
              "type": "string",
              "enum": [
                "credit_usage",
                "query_volume"
              ]
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "required": true,
            "description": "The dimension to group each day's usage by. user_email is currently the only supported value.",
            "schema": {
              "type": "string",
              "enum": [
                "user_email"
              ]
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "description": "Window start in unix seconds (UTC), inclusive. Snapped down to the day grid, so the first day can include usage from before this time.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "description": "Window end in unix seconds (UTC), exclusive. Defaults to now; future values are capped at now. The window may span at most 90 days.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Member rows per page. Default 50, max 100. A page can span multiple days.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor from a previous response's next_page. Valid only with the same query parameters it was issued for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Per-member daily usage for the requested window. Days with no attributable usage are omitted; the analytics store syncs periodically, so recent days may not yet be present.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputerUsageV2Response"
                },
                "example": {
                  "categories": [
                    "Model",
                    "Credit Source"
                  ],
                  "data": [
                    {
                      "start_time": 1746057600,
                      "end_time": 1746144000,
                      "results": [
                        {
                          "user_email": "alice@example.com",
                          "count": 900,
                          "by_categories": {
                            "Model": [
                              {
                                "category": "claude-opus-4-8",
                                "count": 900
                              }
                            ],
                            "Credit Source": [
                              {
                                "category": "paid",
                                "count": 900
                              }
                            ]
                          }
                        },
                        {
                          "user_email": "bob@example.com",
                          "count": 500,
                          "by_categories": {
                            "Model": [
                              {
                                "category": "claude-sonnet-4-6",
                                "count": 500
                              }
                            ],
                            "Credit Source": [
                              {
                                "category": "promo",
                                "count": 500
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ],
                  "has_more": true,
                  "next_page": "eyJwayI6ICJPUkcjLi4uIn0="
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters (type: bad_request) — e.g. a dataset or group_by outside the accepted values — or a semantically invalid request (type: invalid_request), e.g. start_time after end_time, a window over 90 days, or a misused pagination cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                },
                "example": {
                  "error": {
                    "message": "start_time must be before end_time.",
                    "type": "invalid_request",
                    "code": 400
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (type: unauthorized).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "The Analytics API is not enabled for this organization (type: feature_disabled).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (type: request_rate_limit_exceeded). Limits apply per organization across all of its keys.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/skills": {
      "get": {
        "operationId": "listSkills",
        "summary": "List skills",
        "description": "Lists the skills in your Project, newest first.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Available skills",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "502": {
            "description": "Skill service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "tags": [
          "Skills"
        ]
      },
      "post": {
        "operationId": "createSkill",
        "summary": "Create a skill",
        "description": "Creates a skill from a zip bundle. The bundle must contain a `SKILL.md`\nthat provides the skill name and description; those fields are read from\nthe bundle, not from the request.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/SkillBundle"
        },
        "responses": {
          "201": {
            "description": "The created skill",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagedSkill"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or bundle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Skill limit reached for this Project; delete a skill to create another",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "413": {
            "description": "Bundle exceeds the size limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or upload concurrency limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "502": {
            "description": "Skill service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "tags": [
          "Skills"
        ]
      }
    },
    "/v1/skills/{skill_id}": {
      "get": {
        "operationId": "getSkill",
        "summary": "Get a skill",
        "description": "Returns a skill. Without `revision`, returns the active revision.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SkillId"
          },
          {
            "$ref": "#/components/parameters/Revision"
          }
        ],
        "responses": {
          "200": {
            "description": "The skill",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagedSkill"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Skill or revision not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "502": {
            "description": "Skill service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "tags": [
          "Skills"
        ]
      },
      "put": {
        "operationId": "updateSkill",
        "summary": "Add a skill revision",
        "description": "Uploads a new zip bundle as a new revision of an existing skill. Pass the\nrevision you expect to replace as the required `expected_revision`; the\nrequest fails with `409` if the skill has already moved past it, so the\nupdate cannot race a concurrent write. Name and description are re-read\nfrom the new bundle.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SkillId"
          },
          {
            "$ref": "#/components/parameters/ExpectedRevisionRequired"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SkillBundle"
        },
        "responses": {
          "200": {
            "description": "The updated skill",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagedSkill"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or bundle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Skill not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Revision conflict; the skill moved past expected_revision",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "413": {
            "description": "Bundle exceeds the size limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or upload concurrency limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "502": {
            "description": "Skill service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "tags": [
          "Skills"
        ]
      },
      "delete": {
        "operationId": "deleteSkill",
        "summary": "Delete a skill",
        "description": "Deletes a skill. Pass the current revision as `expected_revision`; the\ndelete fails with `409` if the skill has a newer revision, so a delete\nnever races a concurrent update.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SkillId"
          },
          {
            "$ref": "#/components/parameters/ExpectedRevisionRequired"
          }
        ],
        "responses": {
          "204": {
            "description": "Skill deleted"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Skill not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Revision conflict; the skill moved past expected_revision",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "502": {
            "description": "Skill service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "tags": [
          "Skills"
        ]
      }
    },
    "/v1/skills/{skill_id}/revisions": {
      "get": {
        "operationId": "listSkillRevisions",
        "summary": "List skill revisions",
        "description": "Lists the revisions of a skill, newest first.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SkillId"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "The skill revisions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillRevisionList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Skill not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "502": {
            "description": "Skill service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "tags": [
          "Skills"
        ]
      }
    },
    "/v1/skills/{skill_id}/download": {
      "get": {
        "operationId": "downloadSkill",
        "summary": "Get a skill download URL",
        "description": "Returns a short-lived URL to download the skill bundle as a zip. Without\n`revision`, returns the active revision.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SkillId"
          },
          {
            "$ref": "#/components/parameters/Revision"
          }
        ],
        "responses": {
          "200": {
            "description": "The skill bundle download",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillDownload"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Skill or revision not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "502": {
            "description": "Skill service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "tags": [
          "Skills"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ApiChatCompletionsRequest": {
        "properties": {
          "max_tokens": {
            "anyOf": [
              {
                "type": "integer",
                "maximum": 128000.0,
                "exclusiveMinimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Tokens",
            "description": "Maximum number of completion tokens to generate"
          },
          "model": {
            "type": "string",
            "title": "Model",
            "description": "Model to use, for example, sonar-pro",
            "enum": [
              "sonar",
              "sonar-pro",
              "sonar-deep-research",
              "sonar-reasoning-pro"
            ]
          },
          "stream": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Stream",
            "description": "If true, returns streaming SSE response",
            "default": false
          },
          "stop": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Stop",
            "description": "Stop sequences. Generation stops when one of these strings is produced"
          },
          "temperature": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0.0,
                "maximum": 2.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Temperature",
            "description": "Controls randomness in the response. Higher values make output more random. Range: 0-2"
          },
          "top_p": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0.0,
                "maximum": 1.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Top P",
            "description": "Nucleus sampling parameter. Controls diversity via nucleus sampling"
          },
          "response_format": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ResponseFormatText"
              },
              {
                "$ref": "#/components/schemas/ResponseFormatJSONSchema"
              },
              {
                "type": "null"
              }
            ],
            "title": "Response Format",
            "description": "Optional. Controls the output format. Omit for default text output. Set `type` to `json_schema` for structured output.",
            "discriminator": {
              "propertyName": "type",
              "mapping": {
                "text": "#/components/schemas/ResponseFormatText",
                "json_schema": "#/components/schemas/ResponseFormatJSONSchema"
              }
            }
          },
          "messages": {
            "items": {
              "$ref": "#/components/schemas/ChatMessage-Input"
            },
            "type": "array",
            "title": "Messages",
            "description": "Array of messages forming the conversation history"
          },
          "web_search_options": {
            "$ref": "#/components/schemas/WebSearchOptions"
          },
          "search_mode": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "web",
                  "academic",
                  "sec"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Search Mode",
            "description": "Source of search results (web, academic, or sec)"
          },
          "return_images": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Return Images",
            "description": "When true, include image results in the response"
          },
          "return_related_questions": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Return Related Questions",
            "description": "When true, generates suggested follow-up queries based on the search results"
          },
          "enable_search_classifier": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Enable Search Classifier",
            "description": "When true, uses a classifier to determine if web search is needed for the query"
          },
          "disable_search": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Disable Search",
            "description": "When true, disables all web search capabilities. The model responds based solely on its training data"
          },
          "search_domain_filter": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Search Domain Filter",
            "description": "Limit search results to specific domains (e.g. github.com, wikipedia.org)"
          },
          "search_language_filter": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Search Language Filter",
            "description": "Filter results by language using ISO 639-1 codes (e.g. en, fr, de)"
          },
          "search_recency_filter": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "hour",
                  "day",
                  "week",
                  "month",
                  "year"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Search Recency Filter",
            "description": "Filter by publication recency (hour, day, week, month, or year)"
          },
          "search_after_date_filter": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Search After Date Filter",
            "description": "Return results published after this date (MM/DD/YYYY)"
          },
          "search_before_date_filter": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Search Before Date Filter",
            "description": "Return results published before this date (MM/DD/YYYY)"
          },
          "last_updated_before_filter": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Updated Before Filter",
            "description": "Return results last updated before this date (MM/DD/YYYY)"
          },
          "last_updated_after_filter": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Updated After Filter",
            "description": "Return results last updated after this date (MM/DD/YYYY)"
          },
          "image_format_filter": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Image Format Filter",
            "description": "Filter image results by format (e.g. png, jpg)"
          },
          "image_domain_filter": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Image Domain Filter",
            "description": "Limit image results to specific domains"
          },
          "stream_mode": {
            "type": "string",
            "enum": [
              "full",
              "concise"
            ],
            "title": "Stream Mode",
            "description": "Controls the format of streaming events. 'full' suppresses reasoning events and includes metadata inline; 'concise' emits reasoning events separately",
            "default": "full"
          },
          "reasoning_effort": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "minimal",
                  "low",
                  "medium",
                  "high"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Reasoning Effort",
            "description": "Controls how much effort the model spends on reasoning"
          },
          "language_preference": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Language Preference",
            "description": "ISO 639-1 language code for preferred response language"
          }
        },
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "title": "ApiChatCompletionsRequest"
      },
      "ApiPublicSearchResult": {
        "description": "A single search result from the web",
        "properties": {
          "title": {
            "type": "string",
            "title": "Title",
            "description": "Title of the search result page"
          },
          "url": {
            "type": "string",
            "title": "Url",
            "description": "URL of the search result page"
          },
          "date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date",
            "description": "Publication date of the result"
          },
          "last_updated": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Updated",
            "description": "Date the result was last updated"
          },
          "snippet": {
            "type": "string",
            "title": "Snippet",
            "description": "Text snippet from the search result",
            "default": ""
          },
          "source": {
            "type": "string",
            "enum": [
              "web",
              "attachment"
            ],
            "title": "Source",
            "description": "Source type of the result (web or attachment)",
            "default": "web"
          }
        },
        "type": "object",
        "required": [
          "title",
          "url"
        ],
        "title": "ApiPublicSearchResult"
      },
      "ImageResult": {
        "properties": {
          "image_url": {
            "type": "string",
            "title": "Image Url",
            "description": "URL of the image"
          },
          "origin_url": {
            "type": "string",
            "title": "Origin Url",
            "description": "Original URL where the image was found"
          },
          "title": {
            "type": "string",
            "title": "Title",
            "description": "Title or description of the image"
          },
          "width": {
            "type": "integer",
            "title": "Width",
            "description": "Width of the image in pixels"
          },
          "height": {
            "type": "integer",
            "title": "Height",
            "description": "Height of the image in pixels"
          }
        },
        "type": "object",
        "required": [
          "image_url",
          "origin_url",
          "title",
          "width",
          "height"
        ],
        "title": "ImageResult"
      },
      "ApiSearchPage": {
        "description": "A single page from search results",
        "properties": {
          "title": {
            "type": "string",
            "title": "Title",
            "description": "Title of the page"
          },
          "url": {
            "type": "string",
            "title": "Url",
            "description": "URL of the page"
          },
          "snippet": {
            "type": "string",
            "title": "Snippet",
            "description": "Content snippet extracted from the page"
          },
          "date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date",
            "description": "Publication date of the page"
          },
          "last_updated": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Updated",
            "description": "Date the page was last updated"
          }
        },
        "type": "object",
        "required": [
          "title",
          "url",
          "snippet"
        ],
        "title": "ApiSearchPage"
      },
      "ApiSearchRequest": {
        "allOf": [
          {
            "properties": {
              "country": {
                "description": "ISO 3166-1 alpha-2 country code",
                "maxLength": 2,
                "minLength": 2,
                "type": "string"
              },
              "max_results": {
                "default": 10,
                "description": "Maximum number of results. Values above 20 require search_type=people. Supports up to 20 for web search and up to 50 for people search.",
                "maximum": 50,
                "minimum": 1,
                "type": "integer"
              },
              "search_type": {
                "default": "web",
                "description": "Search type - \"web\" for general web search, \"fast\" for lower-latency, lower-cost web search, \"people\" for people search. max_results above 20 is only supported for people search.",
                "enum": [
                  "web",
                  "fast",
                  "people"
                ],
                "type": "string"
              },
              "search_context_size": {
                "description": "Controls how much content is extracted from result pages.\n\n- `low` — short passages most relevant to the query.\n- `medium` — a balanced amount of content per document.\n- `high` (default) — detailed content relevant to the query.\n\nOmit when using `max_tokens` or `max_tokens_per_page`.",
                "type": "string"
              },
              "max_tokens": {
                "description": "Maximum total webpage content tokens to return across all search results",
                "maximum": 1000000,
                "minimum": 1,
                "type": "integer"
              },
              "max_tokens_per_page": {
                "description": "Maximum webpage content tokens to extract from each result page",
                "maximum": 1000000,
                "minimum": 1,
                "type": "integer"
              },
              "query": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                ],
                "title": "Query",
                "description": "Search query (required)"
              },
              "search_language_filter": {
                "description": "ISO 639-1 language codes (2-character max)",
                "items": {
                  "maxLength": 2,
                  "minLength": 2,
                  "type": "string"
                },
                "maxItems": 20,
                "type": "array"
              }
            },
            "required": [
              "query"
            ],
            "type": "object"
          },
          {
            "$ref": "#/components/schemas/SearchDomainFilter"
          },
          {
            "$ref": "#/components/schemas/DateFilters"
          }
        ],
        "type": "object",
        "title": "ApiSearchRequest"
      },
      "ApiSearchResponse": {
        "properties": {
          "results": {
            "items": {
              "$ref": "#/components/schemas/ApiSearchPage"
            },
            "type": "array",
            "title": "Results"
          },
          "id": {
            "type": "string",
            "title": "Id"
          },
          "server_time": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Server Time"
          }
        },
        "type": "object",
        "required": [
          "results",
          "id"
        ],
        "title": "ApiSearchResponse"
      },
      "AsyncApiChatCompletionsRequest": {
        "description": "Request body for creating an asynchronous chat completion",
        "properties": {
          "request": {
            "$ref": "#/components/schemas/ApiChatCompletionsRequest",
            "description": "The chat completion request to execute asynchronously"
          },
          "idempotency_key": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Idempotency Key",
            "description": "Unique key to prevent duplicate requests"
          }
        },
        "type": "object",
        "required": [
          "request"
        ],
        "title": "AsyncApiChatCompletionsRequest"
      },
      "AsyncApiChatCompletionsResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Unique identifier for the async request"
          },
          "model": {
            "type": "string",
            "title": "Model",
            "description": "Model used for the request"
          },
          "created_at": {
            "type": "integer",
            "title": "Created At",
            "description": "Unix timestamp when the request was created"
          },
          "started_at": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Started At",
            "description": "Unix timestamp when processing started"
          },
          "completed_at": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Completed At",
            "description": "Unix timestamp when processing completed"
          },
          "response": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CompletionResponse"
              },
              {
                "type": "null"
              }
            ]
          },
          "failed_at": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Failed At",
            "description": "Unix timestamp when the request failed (if applicable)"
          },
          "error_message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error Message",
            "description": "Error message if the request failed"
          },
          "status": {
            "$ref": "#/components/schemas/AsyncProcessingStatus",
            "description": "Current processing status of the request"
          }
        },
        "type": "object",
        "required": [
          "id",
          "model",
          "created_at",
          "status"
        ],
        "title": "AsyncApiChatCompletionsResponse"
      },
      "AsyncApiChatCompletionsResponseSummary": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "created_at": {
            "type": "integer",
            "title": "Created At"
          },
          "started_at": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Started At"
          },
          "completed_at": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Completed At"
          },
          "failed_at": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Failed At"
          },
          "model": {
            "type": "string",
            "title": "Model"
          },
          "status": {
            "$ref": "#/components/schemas/AsyncProcessingStatus"
          }
        },
        "type": "object",
        "required": [
          "id",
          "created_at",
          "model",
          "status"
        ],
        "title": "AsyncApiChatCompletionsResponseSummary"
      },
      "AsyncProcessingStatus": {
        "type": "string",
        "enum": [
          "CREATED",
          "IN_PROGRESS",
          "COMPLETED",
          "FAILED"
        ],
        "title": "AsyncProcessingStatus",
        "description": "Status enum for async processing."
      },
      "ChatMessage-Input": {
        "properties": {
          "role": {
            "$ref": "#/components/schemas/ChatMessageRole"
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ChatMessageContentTextChunk"
                    },
                    {
                      "$ref": "#/components/schemas/ChatMessageContentImageChunk"
                    },
                    {
                      "$ref": "#/components/schemas/ChatMessageContentFileChunk"
                    },
                    {
                      "$ref": "#/components/schemas/ChatMessageContentPDFChunk"
                    },
                    {
                      "$ref": "#/components/schemas/ChatMessageContentVideoChunk"
                    }
                  ]
                },
                "type": "array",
                "title": "Structured Content"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content"
          }
        },
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "title": "ChatMessage"
      },
      "ChatMessage-Output": {
        "properties": {
          "role": {
            "$ref": "#/components/schemas/ChatMessageRole"
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ChatMessageContentTextChunk"
                    },
                    {
                      "$ref": "#/components/schemas/ChatMessageContentImageChunk"
                    },
                    {
                      "$ref": "#/components/schemas/ChatMessageContentFileChunk"
                    },
                    {
                      "$ref": "#/components/schemas/ChatMessageContentPDFChunk"
                    },
                    {
                      "$ref": "#/components/schemas/ChatMessageContentVideoChunk"
                    }
                  ]
                },
                "type": "array",
                "title": "Structured Content"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content"
          }
        },
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "title": "ChatMessage"
      },
      "ChatMessageContentFileChunk": {
        "properties": {
          "type": {
            "type": "string",
            "const": "file_url",
            "title": "Type"
          },
          "file_url": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/URL"
              },
              {
                "type": "string"
              }
            ],
            "title": "File Url"
          },
          "file_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "File Name"
          }
        },
        "type": "object",
        "required": [
          "type",
          "file_url"
        ],
        "title": "ChatMessageContentFileChunk"
      },
      "ChatMessageContentImageChunk": {
        "properties": {
          "type": {
            "type": "string",
            "const": "image_url",
            "title": "Type"
          },
          "image_url": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/URL"
              },
              {
                "type": "string"
              }
            ],
            "title": "Image Url"
          }
        },
        "type": "object",
        "required": [
          "type",
          "image_url"
        ],
        "title": "ChatMessageContentImageChunk"
      },
      "ChatMessageContentPDFChunk": {
        "properties": {
          "type": {
            "type": "string",
            "const": "pdf_url",
            "title": "Type"
          },
          "pdf_url": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/URL"
              },
              {
                "type": "string"
              }
            ],
            "title": "Pdf Url"
          }
        },
        "type": "object",
        "required": [
          "type",
          "pdf_url"
        ],
        "title": "ChatMessageContentPDFChunk"
      },
      "ChatMessageContentTextChunk": {
        "properties": {
          "type": {
            "type": "string",
            "const": "text",
            "title": "Type"
          },
          "text": {
            "type": "string",
            "title": "Text"
          }
        },
        "type": "object",
        "required": [
          "type",
          "text"
        ],
        "title": "ChatMessageContentTextChunk"
      },
      "ChatMessageContentVideoChunk": {
        "properties": {
          "type": {
            "type": "string",
            "const": "video_url",
            "title": "Type"
          },
          "video_url": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/VideoURL"
              },
              {
                "type": "string"
              }
            ],
            "title": "Video Url"
          }
        },
        "type": "object",
        "required": [
          "type",
          "video_url"
        ],
        "title": "ChatMessageContentVideoChunk"
      },
      "ChatMessageRole": {
        "type": "string",
        "enum": [
          "system",
          "user",
          "assistant",
          "tool"
        ],
        "title": "ChatMessageRole",
        "description": "Chat roles enum"
      },
      "Choice": {
        "description": "A single completion choice",
        "properties": {
          "index": {
            "type": "integer",
            "title": "Index",
            "description": "Index of the choice in the array"
          },
          "finish_reason": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "stop",
                  "length"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Finish Reason",
            "description": "Reason generation stopped (stop or length)"
          },
          "message": {
            "$ref": "#/components/schemas/ChatMessage-Output",
            "description": "Complete message (non-streaming)"
          },
          "delta": {
            "$ref": "#/components/schemas/ChatMessage-Output",
            "description": "Incremental message delta (streaming)"
          }
        },
        "type": "object",
        "required": [
          "index",
          "message",
          "delta"
        ],
        "title": "Choice"
      },
      "CompletionResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Unique identifier for the completion"
          },
          "model": {
            "type": "string",
            "title": "Model",
            "description": "Model used for generation"
          },
          "created": {
            "type": "integer",
            "title": "Created",
            "description": "Unix timestamp when the completion was created"
          },
          "usage": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/UsageInfo"
              },
              {
                "type": "null"
              }
            ]
          },
          "object": {
            "type": "string",
            "title": "Object",
            "description": "Object type identifier",
            "default": "chat.completion"
          },
          "choices": {
            "items": {
              "$ref": "#/components/schemas/Choice"
            },
            "type": "array",
            "title": "Choices",
            "description": "Array of completion choices"
          },
          "citations": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Citations",
            "description": "URLs of sources used to generate the response"
          },
          "search_results": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ApiPublicSearchResult"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Search Results",
            "description": "Search results used for context in the response"
          },
          "images": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ImageResult"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Images",
            "description": "Array of images returned when return_images is true"
          },
          "related_questions": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Related Questions",
            "description": "Array of related questions returned when return_related_questions is true"
          }
        },
        "type": "object",
        "required": [
          "id",
          "model",
          "created",
          "choices"
        ],
        "title": "CompletionResponse"
      },
      "CompletionResponseStatus": {
        "description": "Status of a streaming completion response",
        "type": "string",
        "enum": [
          "PENDING",
          "COMPLETED"
        ],
        "title": "CompletionResponseStatus"
      },
      "CompletionResponseType": {
        "description": "Type of a streaming completion response chunk",
        "type": "string",
        "enum": [
          "message",
          "info",
          "end_of_stream"
        ],
        "title": "CompletionResponseType"
      },
      "Cost": {
        "description": "Cost breakdown for a chat completion request",
        "properties": {
          "input_tokens_cost": {
            "type": "number",
            "title": "Input Tokens Cost",
            "description": "Cost for input tokens in USD"
          },
          "output_tokens_cost": {
            "type": "number",
            "title": "Output Tokens Cost",
            "description": "Cost for output tokens in USD"
          },
          "reasoning_tokens_cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reasoning Tokens Cost",
            "description": "Cost for reasoning tokens in USD"
          },
          "request_cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Request Cost",
            "description": "Cost for web search requests in USD (includes pro search cost if applicable)"
          },
          "citation_tokens_cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Citation Tokens Cost",
            "description": "Cost for citation tokens in USD"
          },
          "search_queries_cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Search Queries Cost",
            "description": "Cost for search queries in USD"
          },
          "total_cost": {
            "type": "number",
            "title": "Total Cost",
            "description": "Total cost for the request in USD"
          }
        },
        "type": "object",
        "required": [
          "input_tokens_cost",
          "output_tokens_cost",
          "total_cost"
        ],
        "title": "Cost"
      },
      "Currency": {
        "description": "Currency code for cost values",
        "enum": [
          "USD"
        ],
        "type": "string"
      },
      "ExecutePythonStepDetails": {
        "properties": {
          "code": {
            "type": "string",
            "title": "Code"
          },
          "result": {
            "type": "string",
            "title": "Result"
          }
        },
        "type": "object",
        "required": [
          "code",
          "result"
        ],
        "title": "ExecutePythonStepDetails",
        "description": "Code generation step details wrapper class"
      },
      "FetchUrlContentStepDetails": {
        "properties": {
          "contents": {
            "items": {
              "$ref": "#/components/schemas/ApiPublicSearchResult"
            },
            "type": "array",
            "title": "Contents"
          }
        },
        "type": "object",
        "required": [
          "contents"
        ],
        "title": "FetchUrlContentStepDetails",
        "description": "Fetch url content step details wrapper class"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "JSONSchema": {
        "properties": {
          "schema": {
            "additionalProperties": true,
            "type": "object",
            "title": "Schema"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "default": "schema"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "strict": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Strict",
            "default": true
          }
        },
        "type": "object",
        "required": [
          "schema"
        ],
        "title": "JSONSchema"
      },
      "ListAsyncApiChatCompletionsResponse": {
        "properties": {
          "next_token": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next Token"
          },
          "requests": {
            "items": {
              "$ref": "#/components/schemas/AsyncApiChatCompletionsResponseSummary"
            },
            "type": "array",
            "title": "Requests"
          }
        },
        "type": "object",
        "required": [
          "requests"
        ],
        "title": "ListAsyncApiChatCompletionsResponse"
      },
      "ReasoningStep-Output": {
        "properties": {
          "thought": {
            "type": "string",
            "title": "Thought"
          },
          "type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Type"
          },
          "web_search": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/WebSearchStepDetails"
              },
              {
                "type": "null"
              }
            ]
          },
          "finance_search": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/FinanceSearchStepDetails"
              },
              {
                "type": "null"
              }
            ]
          },
          "people_search": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/PeopleSearchStepDetails"
              },
              {
                "type": "null"
              }
            ]
          },
          "fetch_url_content": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/FetchUrlContentStepDetails"
              },
              {
                "type": "null"
              }
            ]
          },
          "execute_python": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ExecutePythonStepDetails"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "thought"
        ],
        "title": "ReasoningStep",
        "description": "Reasoning step wrapper class"
      },
      "ResponseFormatJSONSchema": {
        "description": "Constrains the model output to match the provided JSON schema.",
        "properties": {
          "type": {
            "type": "string",
            "const": "json_schema",
            "title": "Type",
            "description": "Must be `json_schema`."
          },
          "json_schema": {
            "$ref": "#/components/schemas/JSONSchema"
          }
        },
        "type": "object",
        "required": [
          "type",
          "json_schema"
        ],
        "title": "ResponseFormatJSONSchema"
      },
      "ResponseFormatText": {
        "properties": {
          "type": {
            "type": "string",
            "const": "text",
            "title": "Type",
            "description": "Must be `text`."
          }
        },
        "type": "object",
        "required": [
          "type"
        ],
        "title": "ResponseFormatText"
      },
      "ToolCall": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id"
          },
          "type": {
            "anyOf": [
              {
                "type": "string",
                "const": "function"
              },
              {
                "type": "null"
              }
            ],
            "title": "Type"
          },
          "function": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ToolCallFunction"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "title": "ToolCall"
      },
      "ToolCallFunction": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "arguments": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Arguments"
          }
        },
[...]
